.overflowY {
    overflow-y: auto;
}

.padFive {
    padding: 5px;
}
.bottom-right-container {
    position: relative;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #aabcfe;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #aabcfe;
    color: #669;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    white-space: nowrap;
    border-color: #aabcfe;
    color: white;
    background-color: #094490;
}

.tg .even {
    border-color: inherit;
    text-align: left;
    vertical-align: center;
}

.tg .odd {
    background-color: #D2E4FC;
    border-color: inherit;
    text-align: left;
    vertical-align: center;
}
.tg .odd:hover td:not(.noHover) { background: #FCF; cursor: pointer;}
.tg .even:hover td:not(.noHover) { background: #FCF; cursor: pointer;}

.tab button.downloadButton {
    float: right;
    color: white;
    background-color: dodgerblue;
    border-radius: 15%;
    height: 80%;
}

.tab button:hover.downloadButton {
    background-color: royalblue;
}

.trelloLogo {
    float: right;
    height: 80%;
    width: auto;
    max-height: 60px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: black;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    color: white;
}

.tab form {
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #094490;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tab button.downloadButton {
    float: right;
    color: white;
    background-color: dodgerblue;
    border-radius: 15%;
    height: 80%;
}

.tab button:hover.downloadButton {
    background-color: royalblue;
}
