<form name="elementPropertiesEditForm">
    <div>
        <div class="form-group">
            <label>Name</label>
            <input name="nameInput" class="form-control" type="text" ng-model="selected.name" ng-change="edit()" placeholder="Element name" />
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input name="checkboxOutOfScope" type="checkbox" ng-model="selected.outOfScope" ng-change="edit()" /> Out of scope
        </label>
    </div>
    <div class="form-group">
        <label>Reason for out of scope</label>
        <textarea name="textareaReasonOutOfScope" ng-disabled="!selected.outOfScope" rows="4" class="form-control" type="text" ng-model="selected.reasonOutOfScope" ng-change="edit()" placeholder="Reason for out of scope"></textarea>
    </div>
    <div ng-show="elementType === 'tm.Process'">
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForProcess" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedProcess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedProcess" ng-change="edit()" ng-init="selected.isEncryptedProcess = false"/> Is Encrypted
            </label>
            <select id ="encryptionTypeForProcess" ng-if="selected.isEncryptedProcess">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option></option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguageProcess" ng-change="edit()" ng-init="selected.programmingLanguageProcess = false"/> Programming Language
            </label>
            <select id ="checkboxProgrammingLanguageProcess" ng-if="selected.programmingLanguageProcess">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsWebApplication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isAWebApplication" ng-change="edit()" /> Web Application
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsANetworkSwitch" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isANetworkSwitch" ng-change="edit()" /> Network Switch
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsRoutingProcess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isARoutingProcess" ng-change="edit()" /> Network Router or Gateway
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsWirelessAccessProcess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isAWirelessAccessProcess" ng-change="edit()" /> Wireless Access Point
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsConfigurationProcess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isAConfigurationProcess" ng-change="edit()" /> Configuration Server (Free-Radius, DHCP, Cert Management, etc.)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsIPSecHostProcess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isAIPSecHostProcess" ng-change="edit()" /> IPSec Host 
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationProcess" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Provides Authentication
            </label>
            <select ng-if="selected.providesAuthenticationProcess">
                <option value="ldap">LDAP</option>
                <option value="kerberos">Kerberos</option>
                <option value="oauth2">Oauth 2</option>
                <option value="saml">Saml</option>
                <option value="radius">Radius</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogProcess" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUsesExternalResources" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.usesExternalResourcesProcess" ng-change="edit()" /> Uses External Resources
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUsesResourcesDirectly" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.usesResourcesDirectlyProcess" ng-change="edit()" /> Directly Uses Resources
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxValidatesCert" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.validatesCertProcess" ng-change="edit()" /> Validates Certificate
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxLocalAccess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.localAccessProcess" ng-change="edit()" /> Has Local Access to File(s)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxValidateInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.validatesInputProcess" ng-change="edit()" /> Validates Input
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxValidateXML" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.validateXMLProcess" ng-change="edit()" /> Validates XML Schema
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUserInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.userInputProcess" ng-change="edit()" /> Accepts User Input
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxThirdParty" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.thirdPartyProcess" ng-change="edit()" /> Uses Third Party Libraries
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Actor'">

        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationActor" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
            <select id = "authType" ng-if="selected.providesAuthenticationActor">
                <option value="ldap">LDAP</option>
                <option value="kerberos">Kerberos</option>
                <option value="oauth2">Oauth 2</option>
                <option value="saml">Saml</option>
                <option value="radius">Radius</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedActor" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedActor" ng-change="edit()" ng-init="selected.isEncryptedActor = false"/> Is Encrypted
            </label>
            <select id ="encryptionTypeForActor" ng-if="selected.isEncryptedActor">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsClientEHealthDevice" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.clientEHealthDevice" ng-change="edit()" /> Client eHealth Device
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsMobileDevice" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.mobileDevice" ng-change="edit()" /> Mobile Device
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsDesktopDevice" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.desktopDevice" ng-change="edit()" /> Desktop Device
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresHealthDataLocally" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesHealthDataLocally" ng-change="edit()" /> Stores Health Data Locally
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxForwardsHealthDataCloud" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.forwardsHealthDataCloud" ng-change="edit()" /> Forwards Health Data to Cloud
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForActor" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Store'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationStore" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxRemoteMedicalRecordStorage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.remoteMedicalRecordStorageStore" ng-change="edit()" /> Remote Storage of Medical Records
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogStore" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentialsStore" ng-change="edit()" /> Stores Credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedStore" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedStore" ng-change="edit()" ng-init="selected.isEncryptedStore = false"/> Is Encrypted
            </label>
            <select id ="encryptionTypeForStore" ng-if="selected.isEncryptedStore">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSignedStore" ng-change="edit()" /> Is Signed
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUsesExternalResources" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.usesExternalResourcesStore" ng-change="edit()" /> Uses External Resources
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUsesResourcesDirectly" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.usesResourcesDirectlyStore" ng-change="edit()" /> Directly Uses Resources
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxValidatesCert" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.validatesCertStore" ng-change="edit()" /> Validates Certificate
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxLocalAccess" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.localAccessStore" ng-change="edit()" /> Has Local Access to File(s)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxValidatesInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.validatesInputStore" ng-change="edit()" /> Validates Input
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUserInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.userInputStore" ng-change="edit()" /> Accepts User Input
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxThirdParty" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.thirdPartyStore" ng-change="edit()" /> Uses Third Party Libraries
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForStore" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>

    <div ng-show="elementType === 'tm.Flow'">
        <div class="form-group">
            <label>Protocol</label>
            <input name="inputProtocol" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.protocol" ng-change="edit()" placeholder="Protocol" />
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedFlow" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedFlow" ng-change="edit()" ng-init="selected.isEncryptedFlow = false"/> Is Encrypted
            </label>
            <select id ="encryptionTypeForFlow" ng-if="selected.isEncryptedStore">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsPublicNetwork" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isPublicNetwork" ng-change="edit()" /> Link Over Public Network
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxBluetoothInterface" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.bluetoothInterface" ng-change="edit()" /> Bluetooth Interface Link
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxWiFiInterface" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.wifiInterface" ng-change="edit()" /> Wi-Fi Interface Link
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxCellularInterface" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.cellularInterface" ng-change="edit()" /> Cellular Interface Link
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxTLS" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.usesTLS" ng-change="edit()" /> Uses TLS
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.MobilePhone'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationMobilePhone" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedMobilePhone" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedMobilePhone" ng-change="edit()" ng-init="selected.isEncryptedMobilePhone = false" /> Is Encrypted
            </label>
            <select id ="encryptionTypeForMobilePhone" ng-if="selected.isEncryptedMobilePhone">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguageMobilePhone" ng-change="edit()" ng-init="selected.programmingLanguageMobilePhone = false"/> Programming Language
            </label>
            <select id ="checkboxProgrammingLanguageforMobilePhone" ng-if="selected.programmingLanguageMobilePhone">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxHasPasswordPolicy" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.hasPasswordPolicyMobilePhone" ng-change="edit()" /> Has a password Policy?
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxSanitizesInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.inputSanitizationMobilePhone" ng-change="edit()" /> Is input sanitized?
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresMedicalRecords" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesMedicalRecordsMobilePhone" ng-change="edit()" /> Stores personal health information (PHI).
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresPI" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesPIMobilePhone" ng-change="edit()" /> Stores personal information (PI).
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxUserInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.userInputMobilePhone" ng-change="edit()" /> Accepts User Input
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxValidateInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.validatesInputMobilePhone" ng-change="edit()" /> Validates Input
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForMobilePhone" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>

    <div ng-show="elementType === 'tm.SmartWatch'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationSmartWatch" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogSmartWatch" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentialsSmartWatch" ng-change="edit()" /> Stores Credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedSmartWatch" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedSmartWatch" ng-change="edit()"  ng-init="selected.isEncryptedSmartWatch = false" /> Is Encrypted
            </label>
            <select id ="encryptionTypeForSmartWatch" ng-if="selected.isEncryptedSmartWatch">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguageSmartWatch" ng-change="edit()" ng-init="selected.programmingLanguageSmartWatch = false"/> Programming Language
            </label>
            <select id ="checkboxProgrammingLanguageforSmartWatch" ng-if="selected.programmingLanguageSmartWatch">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSignedSmartWatch" ng-change="edit()" /> Is Signed
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxRemoteMedicalRecordStorage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.remoteMedicalRecordStorageSmartWatch" ng-change="edit()" /> Remote Storage of Medical Records
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForSmartWatch" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>

    <div ng-show="elementType === 'tm.Laptop'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationLaptop" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogLaptop" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentialsLaptop" ng-change="edit()" /> Stores Credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedLaptop" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedLaptop" ng-change="edit()" ng-init="selected.isEncryptedLaptop = false" /> Is Encrypted
            </label>
            <select id ="encryptionTypeForLaptop" ng-if="selected.isEncryptedLaptop">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguageLaptop" ng-change="edit()" ng-init="selected.programmingLanguageLaptop = false"/> Programming Language
            </label>
            <select id ="" ng-if="selected.programmingLanguageLaptop">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSignedLaptop" ng-change="edit()" /> Is Signed
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxRemoteMedicalRecordStorage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.remoteMedicalRecordStorageLaptop" ng-change="edit()" /> Remote Storage of Medical Records
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForLaptop" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>

    <div ng-show="elementType === 'tm.Tablet'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationTablet" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogTablet" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentialsTablet" ng-change="edit()" /> Stores Credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedTablet" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedTablet" ng-change="edit()" ng-init="selected.isEncryptedTablet = false" /> Is Encrypted
            </label>
            <select id ="encryptionTypeForTablet" ng-if="selected.isEncryptedTablet">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguageTablet" ng-change="edit()" ng-init="selected.programmingLanguageTablet = false"/> Programming Language
            </label>
            <select id ="checkboxProgrammingLanguageforTablet" ng-if="selected.programmingLanguageTablet">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSignedTablet" ng-change="edit()" /> Is Signed
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxRemoteMedicalRecordStorage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.remoteMedicalRecordStorageTablet" ng-change="edit()" /> Remote Storage of Medical Records
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForTablet" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>

    <div ng-show="elementType === 'tm.Electrocardiogram'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationElectrocardiogram" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogElectrocardiogram" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentialsElectrocardiogram" ng-change="edit()" /> Stores Credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedElectrocardiogram" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedElectrocardiogram" ng-change="edit()" ng-init="selected.isEncryptedElectrocardiogram = false" /> Is Encrypted
            </label>
            <select id ="encryptionTypeForElectrocardiogram" ng-if="selected.isEncryptedElectrocardiogram">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguageElectrocardiogram" ng-change="edit()" ng-init="selected.programmingLanguageElectrocardiogram = false"/> Programming Language
            </label>
            <select id ="checkboxProgrammingLanguageforElectrocardiogram" ng-if="selected.programmingLanguageElectrocardiogram">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSignedElectrocardiogram" ng-change="edit()" /> Is Signed
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxRemoteMedicalRecordStorage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.remoteMedicalRecordStorageElectrocardiogram" ng-change="edit()" /> Remote Storage of Medical Records
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForElectrocardiogram" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>

    <div ng-show="elementType === 'tm.Pacemaker'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthenticationPacemaker" ng-change="edit()" ng-init="selected.providesAuthentication = false" /> Implements or Uses Authentication Mechanism
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALogPacemaker" ng-change="edit()" />Stores Event Logs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentialsPacemaker" ng-change="edit()" /> Stores Credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedPacemaker" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncryptedPacemaker" ng-change="edit()" ng-init="selected.isEncryptedPacemaker = false" /> Is Encrypted
            </label>
            <select id ="encryptionTypeForPacemaker" ng-if="selected.isEncryptedPacemaker">
                <option value="des" selected>DES</option>
                <option value="tripleDes">Triple DES</option>
                <option value="tripleDes3Key">TRIPLE_DES_3KEY</option>
                <option value="rc2">RC2</option>
                <option value="rc4">RC4</option>
                <option value="128rc4">128-bit RC4</option>
                <option value="desx">DESX</option>
                <option value="128aes">128-bit AES</option>
                <option value="192aes">192-bit AES</option>
                <option value="256aes">256-bit AES</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxProgrammingLanguage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.programmingLanguagePacemaker" ng-change="edit()" ng-init="selected.programmingLanguagePacemaker = false"/> Programming Language
            </label>
            <select id ="checkboxProgrammingLanguageforPacemaker" ng-if="selected.programmingLanguagePacemaker">
                <option value="c" selected>C</option>
                <option value="c++">C++</option>
                <option value="c#">c#</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="assembly">Assembly</option>
                <option value="objectivec">Objective C</option>
                <option value="swift">Swift</option>
                <option value="ruby">Ruby</option>
                <option value="php">PHP</option>
                <option value="html">HTML</option>
                <option value="jsp">JSP</option>
                <option value="juel">Juel</option>
                <option value="spring">Spring</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSignedPacemaker" ng-change="edit()" /> Is Signed
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxRemoteMedicalRecordStorage" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.remoteMedicalRecordStoragePacemaker" ng-change="edit()" /> Remote Storage of Medical Records
            </label>
        </div>
        <div class="checkbox">
            <label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.privilegeLevelForPacemaker" ng-change="edit()" placeholder="Privilege level" /> Uses Privilege Levels
            </label>
        </div>
    </div>
</form>
