<div>
    <div class="modal-header">
        <h3>{{parameter.heading}}</h3>
    </div>
    <div class="modal-body">
        <form name="newExampleForm">
            <div class="form-group">
                <label>Reference title</label>
                <textarea name="preTextInput" ng-model="parameter.reference.name" class="form-control" rows="5" placeholder="Reference title"></textarea>
            </div>
            <div class="form-group">
                <label>Reference link</label>
                <input type="text" name="codeInput" ng-pattern="parameter.regex" ng-model="parameter.reference.link" ng-required="true" class="form-control" rows="5" placeholder="Link to the reference">
                <div ng-show="!newExampleForm.codeInput.$valid && newExampleForm.codeInput.$dirty">
                    <p>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Please provide a valid link.
                        </div>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!newExampleForm.$dirty || !newExampleForm.$valid" ng-click="onOK()">Save Example</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
</div>
