<div data-ng-controller="TrelloController as tc" data-ng-init="getBoards()">
    <div class="modal-header">
        <img class="trelloLogo" name="trelloLogo" src="public/content/images/trello-mark-blue.png" alt="Add To Trello" ng-click="toggle()">
        <h3>{{parameter.heading}}<span class="pull-right" ng-if="parameter.threatTotal"> ({{parameter.threatIndex}} of {{parameter.threatTotal}})</span></h3>
    </div>
    <div class="modal-body">
        <form name="threatEditForm" >
            <div class="form-group">
                <label ng-if="!isTrelloActive">Title</label><label ng-if="isTrelloActive">Card Title</label>
                <input name="titleInput" class="form-control" ng-required="true" type="text" ng-model="parameter.threat.title" placeholder="A short title for the threat" />
                <div ng-show="!threatEditForm.titleInput.$valid && threatEditForm.titleInput.$dirty">
                    <p>
                        <div ng-if="!isTrelloActive" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The threat title cannot be empty.
                        </div>
                        <div ng-if="isTrelloActive" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The card title cannot be empty.
                        </div>
                    </p>
                </div>
            </div>
            <div ng-if="isTrelloActive" class="form-group">
                <label>Board</label>
                <select name="boardInput" class="form-control" ng-required="true"  ng-model="threatEditForm.boardInput" ng-options="board.name for board in boards">
                </select>
                <button class="btn btn-primary ng-pristine" ng-disabled="!threatEditForm.boardInput.id" ng-click="goToBoard()">Go To Board</button>
            </div>
            <div ng-if="isTrelloActive" class="form-group">
                <label>List</label>
                <select ng-disabled="!threatEditForm.boardInput.id" name="listInput" class="form-control" ng-required="true" ng-model="threatEditForm.listInput">
                    <option ng-repeat="list in ourLists" value="{{list.id}}">{{list.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>STRIDE threat type</label>
                <select name="typeInput" class="form-control" ng-required="true" ng-model="parameter.threat.type">
                    <option selected>Spoofing</option>
                    <option>Tampering</option>
                    <option>Repudiation</option>
                    <option>Information disclosure</option>
                    <option>Denial of service</option>
                    <option>Elevation of privilege</option>
                </select>
                <div ng-show="!threatEditForm.typeInput.$valid && threatEditForm.typeInput.$dirty">
                    <p>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The threat type cannot be empty.
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group pull-left">
                <label>Threat status</label>
                <div>
                    <div class="btn-group" name="statusInput">
                        <label class="btn btn-primary" name="statusInputOpen" ng-model="parameter.threat.status" uib-btn-radio="'Open'">Open</label>
                        <label class="btn btn-primary" name="statusInputMitigated" ng-model="parameter.threat.status" uib-btn-radio="'Mitigated'">Mitigated</label>
                    </div>
                </div>
            </div>
            <div class="form-group pull-right">
                <label>Severity</label>
                <div>
                    <div class="btn-group" required>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" uib-btn-radio="'High'">High</label>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" uib-btn-radio="'Medium'">Medium</label>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" uib-btn-radio="'Low'">Low</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label ng-if="!isTrelloActive">Description</label><label ng-if="isTrelloActive">Card Description</label>
                <textarea name="descriptionInput" ng-model="parameter.threat.description" class="form-control" rows="5" placeholder="Detailed description of the threat"></textarea>
            </div>
            <div class="form-group">
                <label>Mitigations</label>
                <textarea name="mitigationInput" ng-model="parameter.threat.mitigation" class="form-control" rows="5" placeholder="Mitigations for the threat"></textarea>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="pull-left padFive">
                        <label>References</label>
                    </div>
                    <div class="pull-right">
                        <tmt-reference-editor references="parameter.threat.references"></tmt-reference-editor>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-control overflowY" style="height: 100px;">
                    <div name="referenceInput" ng-repeat="reference in parameter.threat.references">
                        <div class="form-group form-control" style="border: 1px solid gray;">
                            <a href="{{reference.link}}" target="_blank">{{reference.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="pull-left padFive">
                        <label>Code Snippets</label>
                    </div>
                    <div class="pull-right">
                        <tmt-example-editor examples="parameter.threat.examples"></tmt-example-editor>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-control overflowY" style="height: 400px;">
                    <div ng-repeat="example in parameter.threat.examples">
                        <div style="border-radius: 25px; padding: 10px; margin: 10px; border: 1px solid gray;">
                            <label ng-if="example.language.name" style="color: #507eed">Language: {{example.language.name}}</label>
                            <label ng-if="!example.language.name" style="color: #507eed">Language: Plain Text</label>
                            <p ng-if="example.preText">{{example.preText}}</p>
                            <pre ng-if="example.code" class=" language-{{example.language.highlightAlias}} line-numbers">
                                <code tmt-prism-highlight class=" language-{{example.language.highlightAlias}}">{{example.code}}</code>
                            </pre>
                            <p ng-if="example.postText">{{example.postText}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="isTrelloActive" class="modal-footer">
        <button class="btn btn-primary" ng-click="addCard(threatEditForm.titleInput.$modelValue, threatEditForm.descriptionInput.$modelValue, threatEditForm.listInput)">Add To Board</button>
        <button class="btn btn-default" ng-click="toggle()">Cancel</button>
    </div>
    <div ng-if="parameter.editing && !isTrelloActive" class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!threatEditForm.$dirty || !threatEditForm.$valid" ng-click="onOK()">Save</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
    <div ng-if="!parameter.editing && !isTrelloActive" class="modal-footer">
        <span class="pull-left">
            <input type="checkbox" ng-model="applyToAll">
            Do this for all remaining threats 
        </span>
        <tmt-modal-close action="onOK(applyToAll)" new-class="fade-left" template-url="diagrams/modalAccept.html"></tmt-modal-close>
        <tmt-modal-close action="onCancel(applyToAll)" new-class="fade-down" template-url="diagrams/modalIgnore.html"></tmt-modal-close>
    </div>
</div>
